*,html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 242, 255);
}

.p1 {
    margin: 100px;
    padding: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    color: white;
}